
#rss-container{margin:10px;width:900px;margin-bottom:30px;}
#rss{margin-left:25px;margin-bottom:10px;width:95%;padding:15px;}
#rss-title{width:100%;padding:5px;}
#rss-details{width:100%;padding:10px;}